.root {
  --primary-color: #18cfab;
}

.dark-theme {
  --primary-color: #ff0000;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.main-container-wrapper {
  width: 1900px;
  margin: 0 auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.background-content {
  background: url(../img/background-header.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.header-menu-link {
  display: flex;
  align-items: center;
  background: rgba(94, 93, 88, 0.6);
  cursor: pointer;
}

.logo {
  position: relative;
  padding-left: 380px;
}

.logo-img {
  width: 58px;
  height: 67px;
}

.logo-text {
  font-weight: bold;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  position: absolute;
  top: 19px;
  right: 13px;
}

.logo-name {
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  padding-left: 6px;
}

.logo-name-highlight {
  font-weight: bold;
  color: var(--primary-color);
}

.link-menu-main {
  display: flex;
  align-items: center;
  padding-left: 305px;
}

.link-menu {
  display: flex;
  align-items: center;
}

.item-menu-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 21px;
  padding-top: 49px;
  padding-bottom: 49px;
}

.item-menu-link:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  transition: all 2s;
}

.btn-search {
  padding-left: 21px;
  background: none;
  border: none;
  cursor: pointer;
}

.header-title1 {
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 264px;
  text-align: center;
}

.header-title1-highlight {
  color: var(--primary-color);
}

.header-title2 {
  font-weight: bold;
  font-size: 78px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 22px;
  text-align: center;
}

.header-title3 {
  font-size: 34px;
  color: #d4d4d4;
  padding-top: 22px;
  padding-bottom: 130px;
  text-align: center;
}

.header-btn-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 243px;
}

.btn-nav {
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  border-radius: 3px;
  padding: 16px 18px;
  box-shadow: 0px -5px 0px 0px #ffffff;
}

.btn-nav-buy {
  background: #00cbf6;
  padding: 16px 11px;
  margin-left: 26px;
}

.tools {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.link-tool-wrapper {
  background: #1c2a33;
  border: none;
}

.link-tool-wrapper-green {
  background: var(--primary-color);
  border: none;
}

.link-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-link-tool {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-top: 47px;
  padding-bottom: 110px;
}

.img-tool {
  width: 61px;
  height: 100px;
  padding-top: 85px;
  padding-left: 207px;
  padding-right: 207px;
}

.title-link-tool-white {
  color: #ffffff;
  padding-top: 58px;
}

.img-tool-diamond {
  width: 96px;
  height: 78px;
  padding-top: 96px;
  padding-left: 190px;
  padding-right: 190px;
}

.services {
  padding-top: 83px;
}

.title-services {
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-services-with-border::after,
.title-services-with-border::before {
  content: "";
  display: block;
  width: 75px;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -26px;
}

.title-services-with-border::after {
  bottom: -20px;
  left: 45%;
}

.nav-services {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  cursor: pointer;
}

.nav-link-services {
  width: 192px;
  text-align: center;
  font-size: 16px;
  line-height: 39px;
  color: #717171;
  border: 1px solid #edefef;
  border-right: none;
  background-color: #f8fcfe;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-link-services-active {
  background-color: var(--primary-color);
}

.nav-link-services:nth-child(6) {
  border-right: 1px solid #edefef;
}

.triangle-dropdown {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: var(--primary-color) transparent transparent transparent;
  position: absolute;
  left: 75px;
  top: -7px;
}

.nav-link-services-detailed {
  display: flex;
  padding-top: 28px;
  padding-bottom: 91px;
  position: relative;
}

.link-services-detailed-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  padding-left: 15px;
}

.nav-link-services:hover {
  border: 1px solid var(--primary-color);
  transition: all 2s;
}

.section-just-buy-wrapper {
  background-image: url(../img/background-section2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.section-just-buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 127px;
  padding-bottom: 127px;
}

.section-just-buy-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--primary-color);
  padding-bottom: 12px;
}

.section-just-buy-detailed {
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  padding-bottom: 62px;
}

.btn-purchase {
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  border-radius: 3px;
  box-shadow: 0px -5px 0px 0px #ffffff;
  padding: 16px 11px;
}

.amazing-work {
  background-color: #e9edef;
}

.amazing-work-title {
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  padding-top: 95px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-amazing-work-with-border::after,
.title-amazing-work-with-border::before {
  content: "";
  display: block;
  width: 75px;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -26px;
}

.title-amazing-work-with-border::after {
  bottom: -20px;
  left: 45%;
}

.nav-link-work {
  display: flex;
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  cursor: pointer;
}

.link-work {
  width: 192px;
  text-align: center;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  border: 1px solid #edefef;
  border-right: none;
  background-color: #f8fcfe;
  padding-top: 14px;
  padding-bottom: 14px;
}

.link-work:nth-child(5) {
  border-right: 1px solid #edefef;
}

.link-work:hover {
  border: 1px solid var(--primary-color);
  transition: all 2s;
}

.img-links-work {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.img-link-work-wrapper {
  width: 285px;
  position: relative;
}

.img-link-block {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #e9edef;
  transition: all 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-icons {
  display: flex;
  padding-top: 48px;
}

.link-icon-1 {
  padding-right: 3px;
  position: relative;
}

.link-icon-1::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  background-image: url(../img/block-icon11.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 16px;
  bottom: 14px;
}

.link-icon-2 {
  position: relative;
}

.link-icon-2::before {
  content: "";
  width: 12px;
  height: 11px;
  position: absolute;
  background-image: url(../img/block-icon22.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 14.5px;
  bottom: 17px;
}

.block-title {
  font-size: 14px;
  line-height: 25px;
  color: var(--primary-color);
  text-transform: uppercase;
  padding-top: 30px;
}

.block-description {
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: #8a8a8a;
  padding-top: 20px;
}

.img-link-work-wrapper:hover .img-link-block {
  opacity: 1;
  border-top: 1px solid var(--primary-color);
}

.btn-load-more {
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  border-radius: 3px;
  padding: 11px 23px 11px 56px;
  position: relative;
}

.btn-load-more::after {
  position: absolute;
  content: "";
  background-image: url(../img/icon-load-more.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 19px;
  left: 23px;
  top: 22px;
}

.btn-load {
  display: flex;
  justify-content: center;
  padding-top: 140px;
  padding-bottom: 100px;
}

.news-title {
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  padding-top: 82px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-title-with-border::after,
.news-title-with-border::before {
  content: "";
  display: block;
  width: 75px;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -26px;
}

.news-title-with-border::after {
  bottom: -20px;
  left: 45%;
}

.breaking-news-wrapper {
  padding-top: 56px;
  padding-bottom: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.breaking-news-link {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 44px;
}

.breaking-news-link-title {
  font-size: 18px;
  color: #717171;
  padding-left: 15px;
  padding-top: 10px;
}

.link-title-comments {
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
  padding-left: 15px;
}

.link-title-comments-line {
  border-right: 1px solid #777777;
  padding-right: 15px;
}

.breaking-news-link-date {
  display: flex;
  flex-direction: column;
  background-image: url(../img/icon-news-date.png);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
}

.breaking-news-link-date-text {
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
}

.link-date {
  padding-top: 10px;
}

.breaking-news-link:hover .breaking-news-link-title {
  color: var(--primary-color);
}

.breaking-news-link:hover .breaking-news-link-date {
  background-image: url(../img/icon-news-date-hover.png);
}

.best-images-title {
  font-size: 36px;
  line-height: 40px;
  color: #4e4e4e;
  padding-top: 95px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-images-title::after,
.best-images-title::before {
  content: "";
  display: block;
  width: 75px;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -26px;
}

.best-images-title::after {
  bottom: -20px;
  left: 45%;
}

.best-images-wrapper {
  display: flex;
  padding-top: 115px;
}

.best-images-item {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.best-image {
  padding-bottom: 20px;
}

.best-images-unit1 {
  display: flex;
}

.best-images-unit2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.best-images-unit2-img {
  padding-bottom: 3px;
}

.circle-loader {
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #f2f3f4;
  border-top: 10px solid var(--primary-color);
  animation: animate 2s infinite linear;
}

@keyframes animate {
  0% {
    transform: translate(-20%, 50%) rotate(0deg);
  }
  100% {
    transform: translate(-20%, 50%) rotate(360deg);
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 250px;
  right: 50px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.cookies-banner {
  background-color: #e9edef;
  opacity: 0.9;
  color: #717171;
  font-size: 24px;
  padding: 50px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 10vh;
  text-align: center;
}

.cookies-banner-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.btn-cookies-accept {
  background: var(--primary-color);
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: #ffffff;
  font-size: 24px;
  margin-top: 30px;
  align-items: center;
}

.footer {
  text-align: center;
  background-color: #22353f;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}

.footer-link {
  color: var(--primary-color);
}
